<%- include('include/_header') %> <%- include('include/_teachNavBar') %>

<!-- Main Site -->
<main>
  <h1 class="heading">Attendance</h1>
  <div class="createEntry-form-box">
    <table id="studentTable" class="bordered-table">
      <thead>
        <tr>
          <th onclick="sortTable(0)">
            <div class="header-text">Date</div>
            <div class="sort-icon-container">
              <span class="sort-icon">↑↓</span>
            </div>
          </th>
          <th onclick="sortTable(1)">
            <div class="header-text">Tutee Name</div>
            <div class="sort-icon-container">
              <span class="sort-icon">↑↓</span>
            </div>
          </th>
          <th onclick="sortTable(2)">
            <div class="header-text">Tutee ID</div>
            <div class="sort-icon-container">
              <span class="sort-icon">↑↓</span>
            </div>
          </th>
          <th onclick="sortTable(3)">
            <div class="header-text">Tutor Name</div>
            <div class="sort-icon-container">
              <span class="sort-icon">↑↓</span>
            </div>
          </th>
          <th onclick="sortTable(4)">
            <div class="header-text">Subject</div>
            <div class="sort-icon-container">
              <span class="sort-icon">↑↓</span>
            </div>
          </th>
          <th onclick="sortTable(5)">
            <div class="header-text">Class</div>
            <div class="sort-icon-container">
              <span class="sort-icon">↑↓</span>
            </div>
          </th>
          <th onclick="sortTable(6)">
            <div class="header-text">Assignment</div>
            <div class="sort-icon-container">
              <span class="sort-icon">↑↓</span>
            </div>
          </th>
          <th onclick="sortTable(7)">
            <div class="header-text">Completed Task?</div>
            <div class="sort-icon-container">
              <span class="sort-icon">↑↓</span>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <%= entries.forEach(entry => { %>
        <tr>
          <td><%= new Date(entry.date).toLocaleDateString() %></td>
          <td><%= entry.tuteeName %></td>
          <td><%= entry.tuteeID %></td>
          <td><%= entry.tutorName %></td>
          <td><%= entry.subject %></td>
          <td><%= entry.class %></td>
          <td><%= entry.assignment %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</main>

<%- include('include/_footer') %>

<script src="js/attendance.js"></script>
