<%- include('include/_header') %> <%- include('include/_stuNavBar') %>

<!-- Main Site -->
<main>
  <div class="parent-container">
    <h2 class="h2">Tutor Expertise Form</h2>
  </div>
  <div class="createEntry-form">
    <!-- Student Name -->
    <label class="formQuestions">Full Name</label>
    <input type="text" id="tutName" name="tutName" required />

    <!-- Student Email -->
    <label class="formQuestions">Email</label>
    <input type="email" id="tutEmail" name="tutEmail" required />

    <!-- Student Grade -->
    <label class="formQuestions">Grade</label>
    <fieldset>
      <% for(let grade of grades) { %>
      <label>
        <input
          type="radio"
          class="habits"
          name="grade"
          value="<%= grade %>"
        /><%= grade %>
      </label>
      <% } %>
    </fieldset>

    <!-- Student New/Returning -->
    <label class="formQuestions">New or Returning?</label>
    <fieldset>
      <% for(let option of options) { %>
      <label>
        <input
          type="radio"
          class="options"
          name="option"
          value="<%= option %>"
        /><%= option %>
      </label>
      <% } %>
    </fieldset>

    <!-- Student Math Classes -->
    <label class="formQuestions">Math Classes</label>
    <fieldset>
      <select name="mathClasses" multiple>
        <% for(let mathClass of mathClasses) { %>
        <option value="<%= mathClass %>"><%= mathClass %></option>
        <% } %>
      </select>
    </fieldset>

    <!-- Student Communication Arts Classes -->
    <label class="formQuestions">Communication Arts Classes</label>
    <fieldset>
      <select name="commArtsClasses" multiple>
        <% for(let commArtsClass of commArtsClasses) { %>
        <option value="<%= commArtsClass %>"><%= commArtsClass %></option>
        <% } %>
      </select>
    </fieldset>

    <!-- Student CTE Classes -->
    <label class="formQuestions">CTE Classes</label>
    <fieldset>
      <select name="cteClasses" multiple>
        <% for(let cteClass of cteClasses) { %>
        <option value="<%= cteClass %>"><%= cteClass %></option>
        <% } %>
      </select>
    </fieldset>

    <!-- Student Fine Arts Classes -->
    <label class="formQuestions">Fine Arts Classes</label>
    <fieldset>
      <select name="fineArtsClasses" multiple>
        <% for(let fineArtsClass of fineArtsClasses) { %>
        <option value="<%= fineArtsClass %>"><%= fineArtsClass %></option>
        <% } %>
      </select>
    </fieldset>

    <!-- Student History Classes -->
    <label class="formQuestions">History Classes</label>
    <fieldset>
      <select name="historyClasses" multiple>
        <% for(let historyClass of historyClasses) { %>
        <option value="<%= historyClass %>"><%= historyClass %></option>
        <% } %>
      </select>
    </fieldset>

    <!-- Student Language Classes -->
    <label class="formQuestions">Language Classes</label>
    <fieldset>
      <select name="languageClasses" multiple>
        <% for(let languageClass of languageClasses) { %>
        <option value="<%= languageClass %>"><%= languageClass %></option>
        <% } %>
      </select>
    </fieldset>

    <!-- Student Science Classes -->
    <label class="formQuestions">Science Classes</label>
    <fieldset>
      <select name="scienceClasses" multiple>
        <% for(let scienceClass of scienceClasses) { %>
        <option value="<%= scienceClass %>"><%= scienceClass %></option>
        <% } %>
      </select>
    </fieldset>

    <!-- Student Wellness Classes -->
    <label class="formQuestions">Wellness Classes</label>
    <fieldset>
      <select name="wellnessClasses" multiple>
        <% for(let wellnessClass of wellnessClasses) { %>
        <option value="<%= wellnessClass %>"><%= wellnessClass %></option>
        <% } %>
      </select>
    </fieldset>

    <input type="submit" class="submit" value="Submit" />
  </div>
</main>

<!-- /Main Site -->

<script src="/js/expertiseForm.js"></script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
