<%- include('include/_header') %><%- include('include/_homepageNavBar') %>

<!-- Leaderboard -->
<main>
  <h1 class="black-heading">Huskie Peer Tutoring Leaderboard</h1>
  <div class="blue-box">
    <div class="leaderboard">
      <table class="leaderboard-table">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Total Sessions</th>
          </tr>
        </thead>
        <tbody>
          <% tutors.forEach((tutor, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= tutor.firstName %> <%= tutor.lastName %></td>
            <td><%= tutor.totalSessions %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
  <!-- /Leaderboard -->
</main>

  <!-- /Main Site -->

  <script src="/js/index.js"></script>
  <link rel="stylesheet" href="/css/styles.css" />

  <!-- include footer -->
  <%- include('include/_footer') %>
  <!-- /include footer -->
</main>
