<%- include('include/_header') %> <%- include('include/_stuNavBar') %>

<!-- Main Site -->
<main>
  <div class="createEntry-form">
    <h1 class="create-edit-title">Tutor Expertise Sheet</h1>

    <!-- Student Name -->
    <label>Full Name</label>
    <input type="text" id="tutName" name="tutName" required />

    <!-- Student Email -->
    <label>Email</label>
    <input type="email" id="tutEmail" name="tutEmail" required />

    <!-- Student Grade -->
    <label>Grade</label>
    <fieldset>
      <% for(let grade of grades) { %>
      <label>
        <input
          type="radio"
          class="habits"
          name="grade"
          value="<%= grade %>"
        /><%= grade %>
      </label>
      <% } %>
    </fieldset>

    <!-- Student Math Classes -->
    <label>Math Classes</label>
    <fieldset>
      <select name="mathClasses" multiple>
        <% for(let mathClass of mathClasses) { %>
        <option value="<%= mathClass %>"><%= mathClass %></option>
        <% } %>
      </select>
    </fieldset>

    <input type="submit" class="submit" value="Submit" />
  </div>
</main>

<!-- /Main Site -->

<script src="/js/tutHome.js"></script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
