<%- include('include/_header') %> <%- include('include/_teachNavBar') %>

<!-- Main Site -->
<main>
  <h1 class="heading">Tutor Database Table</h1>
  <div class="createEntry-form-box">
    <table id="studentTable" class="bordered-table">
      <thead>
        <tr>
          <th>Tutor Name</th>
          <th>Grade</th>
          <th>Total Sessions (all school year)</th>
        </tr>
      </thead>
      <tbody>
        <% entries.forEach(entry => { %>
        <tr>
          <td><%= entry.tutorName %></td>
          <td><%= entry.grade %></td>
          <td><%= entry.totalSessions %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</main>

<%- include('include/_footer') %>
